@font-face {
  font-family: Avenir;
  src: url(../fonts/AvenirLT.ttf);
}

body {
	width: 100%;
	overflow: hidden;
}

#background {
	position: absolute;
	bottom: 0;
}

#title {
	margin-top: 3%;
	float: top;
	font-family: 'Avenir';
	font-size: 64px;
}

#background-image {
	max-width: 100%;
}

#google-maps-url {
	width: 100%;
	line-height: 50px;
	margin-bottom: 10%;
	border-radius: 50px;
	border-style: solid;
	border-width: thin;
	border-color: #979797;
    -webkit-appearance: none;
}

#coordinates {
	width: 20%;
	position: absolute;
	left: 20%;
	line-height: 50px;
	margin-bottom: 10%;
	border-radius: 50px;
	border-style: solid;
	border-width: thin;
	border-color: #979797;
    -webkit-appearance: none;
}

#upload-image::-webkit-file-upload-button {
	visibility: hidden;
	display: none;
}


#upload-image::before {
	text-align: center;
	width: 30%;
	margin-top: -1%;
	position: absolute;
	left: 50%;
	content: 'Upload Image';
	font-family: 'Avenir';
	font-size: 24px;
	text-align: center;
	background-color: #F4F4F4;
	color: #5F5F5F;
	line-height: 50px;
	border-radius: 50px;
	border-style: solid;
	border-width: thin;
	border-color: #979797;
	cursor: pointer;
}

#content-container {
	text-align: center;
	width: 100%;
}

#content {
	text-align: center;
	width: 60%;
	display: inline-block
}

input {
	font-family: 'Avenir';
	font-size: 24px;
	text-align: center;
	background-color: #F4F4F4;
	color: #5F5F5F;
}

#analyze {
	position: absolute;
	color: #FFFFFF;
	background-color: #85A555;
	width: 16%;
	left: 42%;
	margin-top: 6%;
	line-height: 50px;
	border-radius: 50px;
	border-style: solid;
	border-width: thin;
	border-color: #979797;
    -webkit-appearance: none;
}

::placeholder {
	color: #A6A6A6;
}

*:focus {
	outline: none;
}

#or {
	margin: 2%;
}

.join-words {
	font-family: 'Avenir';
}