<!DOCTYPE html>
<body>
    <head>
        <title>My page</title>
        <meta charset="utf-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link
        rel="stylesheet"
        href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css"
        />
    </head>
    <script type="text/javascript" >
        function getRGB() {
            var canvas = document.getElementById("canvas")
            var pixelData = canvas.getContext('2d').getImageData(event.offsetX, event.offsetY, 1, 1).data;
            $.ajax({
                type: "POST",
                url: "parse_data",
                data: JSON.stringify({ 
                    R: pixelData[0],
                    G: pixelData[1],
                    B: pixelData[2]
                } ),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
            });
        }
    </script>

    <div class="ui grid">
        <div class="four wide column"></div>
        <canvas id="canvas" src="{{filename}}" onclick="getRGB()">
            <script> 
                var canvas = document.getElementById("canvas")
                var img = new Image
                img.src = canvas.getAttribute("src")
                img.onload = function() {
                    canvas.width = img.width
                    canvas.height = img.height
                    canvas.getContext("2d").drawImage(img, 0, 0);

                    var processed_image = document.getElementById("processed")
                    processed_image.src = img.src.substr(0, img.src.length - 4) + '_processed' + img.src.substr(img.src.length - 4, 4)
                }
            </script>
        </canvas>
        <div class="four wide column">
            <img id="processed">
        </div>
        <div class="four wide column"></div>
        <div class="four wide column"></div>
    </div>
</body>
</html>